<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Ninja</h1></a>
    <p class="bold">A code ninja site</p>
  </div>
  <ul>
    <li><a class="bold" href="/">Blogs</a></li>
    <li><a class="bold" href="/about">About</a></li>
    <li><a class="bold" href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
